/* You can add global styles to this file, and also import other style files */
.timeline-element {
    background-color: #eeeeee;
    border-top: 1px solid #ccc;
}
.thumb {
    margin-top: 5px;
    max-width:100px;
}